@model HIT339_Assignment_1.Models.Letter

@{
    ViewData["Title"] = "Letter";
}
<p>
    <h1>Letter</h1> <hr>
    <h3>Dear @ViewBag.student.FirstName</h3><br />
<p>Welcome to all existing students and new students.</p>
<p>
    <ul>
        @foreach (Lesson lesson in ViewBag.lessons)
        {
            <li>Term: @lesson.Term will commence on @lesson.LessonDate.ToString("dd/MM/yyyy") </li>
        }
    </ul>
</p>
    Please ensure your payment for
<ul>
    @foreach (Lesson lesson in ViewBag.lessons)
    {
        <li>Lesson#@lesson.Id is finalized by @lesson.LessonDate.AddDays(30.0).ToString("dd/MM/yyyy")</li>
    }
</ul>

<p>
    If a student is no longer attending lessons, please email the CYCM to be removed off the email list.
    If paying by Bank Transfer- EFT, please forward a copy of your payment to the office, to follow up and allocate to the student.
</p>
<hr />
<strong>
    PAYMENT DETAILS: <br />
</strong>

    <p>
        Ref#: @Html.DisplayFor(model => model.Reference)
        <br />
        Student: @ViewBag.student.FirstName @ViewBag.student.LastName

        Amount break down as follows:
        <ul>
            @foreach (Lesson lesson in ViewBag.lessons)
            {
                <li>Lesson#@lesson.Id - $@lesson.Cost</li>
            }
        </ul>
        Total Amount: AUD @Html.DisplayFor(model => model.Cost)
        <br />

        Please follow <a href="https://webpay.cdu.edu.au/musicschool/">this link</a> to make payment for
        <ul>
            @foreach (Lesson lesson in ViewBag.lessons)
            {
                <li>Lesson#@lesson.Id - Year and Term @lesson.YearAndTerm</li>
            }
        </ul>

        Apply for your Sport Vouchers for:
        <ul>
            @foreach (Lesson lesson in ViewBag.lessons)
            {
                <li>@lesson.Semester - @lesson.LessonDate.ToString("yyyy")</li>
            }
        </ul>
        Please visit <a href="http://www.sportvoucher.nt.gov.au">this page</a>, as schools are no longer providing students with a sport voucher.
        <br />
    </p>

<p class="font-weight-bold">Alternatively pay via Bank Transfer - EFT:
    <br />New Bank Details:</p>
    Bank: @Html.DisplayFor(model => model.BankName)
    <br />
    Account Name: @Html.DisplayFor(model => model.AccountName)
    <br />
    BSB Number: @Html.DisplayFor(model => model.BSB)
    <br />
    Account Number: @Html.DisplayFor(model => model.AccountNumber)
    <br />

    <p>
        <i>
            Reference number – please include ‘CYCM, Reference number and student name’
            The CYCM is committed to providing students with quality lessons in a positive learning environment.
        </i>
    </p>
    <hr />
    <p>
        <i>
            <p>Regards</p>
            @Html.DisplayFor(model => model.Signature)
        </i>
    </p>


    <div>
        <a asp-controller="Letters" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-controller="Letters" asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
        <a asp-action="Index">Back to List</a>
    </div>
