@model CDUMusic.Models.Lesson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrument.InstrumentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LessonTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LessonTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration.DurationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LessonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
