@model IEnumerable<HIT339_Assignment_1.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between">

    <h1 class="my-2 align-self-center">Students</h1>

    <button class="btn btn-primary my-2">
        <a asp-action="Create">
            <p class="text-lg-center text-white m-auto">
                Create New
            </p>
        </a>
    </button>
</div>
<div class="table-responsive my-2">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Reference)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Age)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ParentGuardianName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentEmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PaymentPhoneNumber)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ParentGuardianName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentEmailAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaymentPhoneNumber)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="" data-toggle="dropdown" href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z" />
                                </svg>
                            </a>
                            <ul class="dropdown-menu overflow-hidden" style="min-width:5rem" >
                                <li class="dropdown-item ">
                                    <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration:none; display:flex">Edit</a>
                                </li>
                                <li class="dropdown-item ">
                                    <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration:none; display:flex">Delete</a>
                                </li>
                                <li class="dropdown-item ">
                                    <a asp-controller="Lessons" asp-action="Index" asp-route-id="@item.Id" style="text-decoration:none; display:flex">Lesson</a>
                                </li>
                                <li class="dropdown-item ">
                                    <a asp-action="Letter" asp-route-id="@item.Id" style="text-decoration:none; display:flex">Letter</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
