@model IEnumerable<Students.Models.Tutor>

@{
    ViewData["Title"] = "Tutors";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TFname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TLname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TFname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TLname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TutorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TutorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TutorId">Delete</a> | 
            </td>
        </tr>
}
    </tbody>
</table>
