@model Students.Models.Lesson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tutor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tutor.TFname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration.DurationTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instrument.InstrumentType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LessonId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
